# =========================
# Environment files
# =========================
.env
.env.*
!.env.example
!.env.core

# =========================
# Docker
# =========================
**/docker-data/
**/data/
**/volumes/
**/*.log

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo

# =========================
# Node / JS (на будущее)
# =========================
node_modules/
dist/
build/
.npmrc

# =========================
# SSH / Keys
# =========================
*.pem
*.key
id_rsa
id_rsa.pub

# =========================
# Terraform / IaC (если появится)
# =========================
*.tfstate
*.tfstate.*
.terraform/
